.MageDevEnvironmentTag {
    position: fixed;
    min-height: 16px;
    padding: 8px;
    right: -1px;
    top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    background-color: #333333;
    border: #181818 solid 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    text-transform: lowercase;
    transition: all 0.2s ease-in;
    cursor: default;
    opacity: 0.65;
    z-index: 100000;
}

.MageDevEnvironmentTag:hover {
    opacity: 0.85;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
}

.MageDevEnvironmentTag.development {
    background-color: #649149;
    border-color: #557b3e;
    color: #ffffff;
}

.MageDevEnvironmentTag.staging {
    background-color: #f5fb46;
    border-color: #d0d63c;
    color: #353131;
}

.MageDevEnvironmentTag.production {
    background-color: #db3232;
    border-color: #ba2b2b;
    color: #fffc00;
}

/* Tab, Top Right is default */
.MageDevEnvironmentTag.layout-default,
.MageDevEnvironmentTag.layout-tab_tr {

}

.MageDevEnvironmentTag.layout-tab_tl {
    right: inherit;
    left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.MageDevEnvironmentTag.layout-tab_bl {
    right: inherit;
    left: -1px;
    top: inherit;
    bottom: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.MageDevEnvironmentTag.layout-tab_br {
    top: inherit;
    bottom: 8px;
}

.MageDevEnvironmentTag.layout-bar_top {
    min-height: 6px;
    width: 100%;
    font-size: 11px;
    right: inherit;
    left: 0;
    top: 0;
    padding: 3px;
    border-radius: 0;
    text-align: center;
}

.MageDevEnvironmentTag.layout-bar_bottom {
    min-height: 6px;
    width: 100%;
    font-size: 11px;
    right: inherit;
    left: 0;
    top: inherit;
    bottom: 0;
    padding: 3px;
    border-radius: 0;
    text-align: center;
}